/* --------------------------------------------------------
Style Sheet for SarahADowney.com

Version: 1.0
Last modified: 10.30.2013 by Sarah
author: Sarah A. Downey
email: sarah@sarahadowney.com
twitter: @SarahADowney
website: https://sarahadowney.com
----------------------------------------------------------*/

/* -----------------------------------------------------------
CONTENTS:
=Header
=Navigation
=Links
=Main Content
=Images
=Lists
=Aside
=Footer
------------------------------------------------------------*/
/* Header */

header {
	background-color: white;
}

/* Navigation */

/* Links */

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

/* Main Content */

body {
	font-family: "Book Antiqua", Palatino, serif;
	padding-top: 20px;
	width: 100%;
	border-top: 5px solid black;
}

h1 {
	text-align: center;
	letter-spacing: 1.7px;
}

h2 {

}

h3 {
	font-variant: small-caps;
	font-size: 10;
}

p {
	line-height: 25px;
	margin-bottom: 10px;
	margin-left: 20px;
}

section {
	width:60%;
	margin: auto;
	float:left;
}

aside {
	max-width:25%;
	float:right;
}

#container {
	background-color: white !important;
	width: 85%;
	margin: auto;
}

/* Images */

img#avatar {
	max-width: 200px;
	border: 5px solid black;
	border-radius: 50%;
	margin: 10px 10px 10px 10px;
	float: left;
}

#brocade {
	background-image: repeat-x;
}

/* Lists */

ul {
	padding-top: 10px;
}

li {
	margin: 10px 0px 0px 0px;
}

/* Aside */

#right-sidebar {
	margin: 0px 20px 0px 20px;
}

.twitter-timeline {

}

/* Footer */
footer {
	clear:both;
}

#footerImage {
	
	background-image: url("http://www.test.sarahadowney.com/assets/images/sarah-black-on-ivory.jpg");
	background-repeat: repeat; 
	height: 600px;
	width: 100%;
	margin: 20px 0px 0px 0px;
	border-top: 5px solid black;
}
